<p>servicios works!</p>
<section class="container container--flex">
    <h2 class="titulo titulo_dos">Nuestros servicios</h2>
    <div class="columna columna__50">
      <img class="imagen2" src="assets/img/imagen formaleta2.jpg" alt="">
    </div>
    <div class="description columna columna__50">
      <ul>
        <li class="lista">Formaletas para muros: ideales para estructuras verticales, garantizando acabados lisos y
          uniformes.</li>
        <li class="lista">Formaletas para losas: diseñadas para soportar cargas pesadas, facilitando la construcción de
          pisos y techos.</li>
        <li class="lista">Formaletas para columnas: proporcionan estabilidad y precisión en la formación de columnas de
          diversos tamaños.</li>
        <li class="lista">Formaletas para escaleras: soluciones adaptables que permiten crear escaleras seguras y
          estéticamente agradables.</li>
        <li class="lista">Formaletas especiales: opciones personalizadas para proyectos con requerimientos únicos o
          diseños complejos.</li>
        <li class="lista">Transporte y logística: entrega oportuna de equipos en obra para garantizar la continuidad de
          tu proyecto.</li>
        <li class="lista">Mantenimiento y reparación de formaletas: aseguramos el buen estado del material para
          prolongar su vida útil.</li>
        <li class="lista">Asesoría técnica especializada: acompañamiento profesional en la planificación, montaje y uso
          eficiente de formaletas.</li>
        <li class="lista">Gestión de inventarios y despacho: control preciso de equipos en préstamo, para una
          administración más segura y confiable.</li>
      </ul>
      <h2>Contáctenos</h2>
      <p>Estamos aquí para ayudarle con sus necesidades de formaletas. Contáctenos para obtener más información o
        solicitar
        un presupuesto.</p>
      <a class="btnCotiza">Solicita tu cotización</a>
    </div>
  </section>