
.header-seccion {
    
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: inherit;
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 1rem auto;
}

.table {
    width: 95%;
    border-collapse: collapse;
    background-color: transparent;
    margin: 1rem auto;
}

thead {
    text-align: center;
    font-size: inherit;
}

.table th,
.table td {
    padding: 0.75rem;
    border: 1px solid #969696;
    background-color: transparent;
    font-size: inherit;
}

.table-striped tbody tr:nth-child(odd) {
    background-color: rgba(255, 255, 255, 0.2);
}

.add, .icono {
    cursor: pointer;
    filter: brightness(0) saturate(100%) invert(16%) sepia(12%) saturate(900%) hue-rotate(185deg) brightness(92%) contrast(88%);
}

.add {
    font-size: 60px;
}

.icono {
    font-size: 30px;
}