<header class="header">
        <section class="header_title">
            <div class="titulo">CONSTRUFOR S.A.S.</div>
            <!-- <img class="logo_empresa" src="assets/img/logo_empresa.png" alt="logo" > -->
            <div class="contacto">
                <div class="direccion">
                    <img class="logo_ubicacion" src="assets/img/maker.png" alt="location" >
                    <p>Calle 123 #45-67, Bogotá, Colombia</p>
                </div>
                <div class="telefono">
                    <img class="logo_ubicacion" src="assets/img/telephone.png" alt="telephone" >
                    <p>(123) 456-7890</p>
                </div>
                <div class="correo">
                    <img class="logo_ubicacion logo_email" src="assets/img/mail.png" alt="mail" >
                    <p>info&#64;formaletas.com</p>
                </div>
            </div> 
        </section>
    </header>