<!-- <app-header></app-header> -->
<app-navbar></app-navbar>

<main class="main__group">
  <section>
    <div class="img">
      <img class="img_logo" src="assets/img/home1.png" alt="Socio Estrategico">
    </div>

    <h2 class="titulo">Tu socio estratégico para obras de alto impacto.</h2>
    <p class="parrafo">En Formaletas Construcción S.A.S. convertimos cada vertido en una garantía de éxito.
      Nuestras soluciones de alquiler de formaletas están diseñadas para ajustarse a las características específicas de
      tu proyecto,
      asegurando acabados perfectos, reducción de tiempos muertos y el respaldo de un equipo con experiencia
      inigualable.</p>
  </section>
  <hr>
  <section>
    <div class="img">
      <img class="img_logo" src="assets/img/home2.png" alt="Socio Estrategico">
    </div>
    <h2 class="titulo">¿Qué Hacemos por Ti?</h2>
    <div class="contenedor">
      <div class="item" *ngFor="let card of cards; let i = index">
        <h6>{{ card.titulo }}</h6>
        <div class="image-wrapper" [class.is-flipped]="flipped[i]" (click)="toggleFlip(i)">
          <img class="imagen card-front" [src]="card.img" alt="">
          <span class="overlay-text card-back">
            {{ card.text }}
          </span>
        </div>
      </div>
    </div>
    <hr>
  </section>
  <section>
    <div class="img">
        <img class="img_logo" src="assets/img/home3.png" alt="Socio Estrategico">
      </div>
    <div class="beneficio">  
      <h3 class="titulo">Beneficios que marcan la diferencia.</h3>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Beneficio.</th>
            <th>Impacto en tu Proyecto.</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of beneficios">
            <td>{{ item.descripcion }}</td>
            <td>{{ item.detalle }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <hr>
    <div class="img">
        <img class="img_logo" src="assets/img/home4.png" alt="Socio Estrategico">
      </div>
    <div class="confianza">
      <h3 class="titulo">Construye con la Confianza del Futuro.</h3>
      <p class="parrafo">Cada formaleta que entregamos refleja nuestro compromiso con la excelencia y la seguridad.
        Únete a la
        comunidad de clientes que han elevado sus proyectos con soluciones precisas y eficientes.
      </p>
    </div>
  </section>
</main>
<app-footer></app-footer>