.fieldcontent {
    border-radius: 10px;
    margin: 0.5rem auto;
    border: 1px solid #fea02c;
    padding: 0 8px;
    width: 90%;
}

.legendcontent {
    padding: 0 0.5rem;
    text-align: left;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    background-color: #f5f5f5;
    width: 100%;
}

.card {
    display: flex;
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 10vh;
    padding: 0.5rem 0.5rem;
    margin: 1.5rem 0.5rem;
    justify-content: center;
    align-items: center;
    transition: box-shadow 0.2s;
    cursor: pointer;

    &:hover {
        box-shadow: 0 4px 16px rgba(0, 0, 0, 0.9);
    }

    .card-header {
        display: flex;
        font-weight: 600;
        font-size: inherit;
    }

    i {
        font-size: 24px;
        filter: brightness(0) saturate(100%) invert(69%) sepia(71%) saturate(567%) hue-rotate(348deg) brightness(101%) contrast(97%);
    }

    .item {
        font-size: inherit;
        font-weight: 700;
        color: #333333;
        text-decoration: none;
        margin-left: 0.5rem;
        width: 100%;
    }
}

@media screen and (min-width: 600px) {
    .card{
        width: 45% !important;
    }
}