<div class="footer">
    <div class="main__footer">
        <fieldset class="fieldcontent info_contacto">
            <legend><h3>Contacto</h3></legend>            
            <div class="contacto">
                <div class="direccion">
                    <img class="logo_ubicacion" src="assets/img/maker.png" alt="location">
                    <p>Calle 123 #45-67, Bogotá, Colombia</p>
                </div>
                <div class="telefono">
                    <img class="logo_ubicacion" src="assets/img/telephone.png" alt="telephone">
                    <p>(123) 456-7890</p>
                </div>
                <div class="correo">
                    <img class="logo_ubicacion logo_email" src="assets/img/mail.png" alt="mail">
                    <p>info&#64;formaletas.com</p>
                </div>
                <div class="horario">
                    <img class="logo_ubicacion" src="assets/img/reloj.png" alt="mail">
                    <p>L-V 8:00 am - 5:00 pm</p>
                </div>
            </div>
        </fieldset>
        
        <div class="line"></div>
        <fieldset class="fieldcontent politicas">
            <legend><h3>Politicas</h3></legend>
            <div class="items_politicas">
                <a class="item" [routerLink]="['/home']" target="_blank" rel="noopener noreferrer">
                    Politicas de privacidad
                </a>
                <a class="item" [routerLink]="['/home']" target="_blank" rel="noopener noreferrer">
                    Terminos y condiciones
                </a>
                <a class="item" [routerLink]="['/home']" target="_blank" rel="noopener noreferrer">
                    Politica de cookies
                </a>
                <a class="item" [routerLink]="['/home']" target="_blank" rel="noopener noreferrer">
                    Mapa del sitio
                </a>
            </div>
        </fieldset>
        <div class="line"></div>
        <fieldset class="fieldcontent redes_sociales">
            <legend><h3>Redes sociales</h3></legend>
            <p>Síguenos en nuestras redes sociales</p>
            <div class="iconos_redes">
                <a href="https://www.facebook.com" target="_blank" rel="noopener noreferrer">
                    <img class="logo_ubicacion" src="assets/img/facebook.png" alt="facebook">
                </a>
                <a href="https://www.twitter.com" target="_blank" rel="noopener noreferrer">
                    <img class="logo_ubicacion" src="assets/img/twitter.png" alt="twitter">
                </a>
                <a href="https://www.instagram.com" target="_blank" rel="noopener noreferrer">
                    <img class="logo_ubicacion" src="assets/img/instagram.png" alt="instagram">
                </a>
                <a href="https://www.linkedin.com" target="_blank" rel="noopener noreferrer">
                    <img class="logo_ubicacion" src="assets/img/linkedin.png" alt="linkedin">
                </a>
            </div>
        </fieldset>

        <div class="line"></div>
        <p class="me__footer">© 2025 VMRF Soluciones Informáticas All rights reserved. V 0.1</p>
    </div>
</div>