.contenedor {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    width: 80%;
    margin: 0px auto;
    font-size: inherit;
}

.formulario {
    border: 2px solid #fea02c;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: auto;
    //max-width: 400px;
    margin: 0rem auto;
}

h2 {
    font-size: inherit;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0.1rem;
    margin-bottom: 0.5rem;
    border-radius: 4px;
    text-align: center;
}

.item {
    padding: 1rem 2.5rem;
    width: 35vh;
}

.input-group {    
    position: relative;
    display: flex;
    align-items: center;
    padding: 0.5rem 0;
}

.input-group input {
    border: 2px solid #fea02c;
    width: 100%;
    padding: 0.5rem 35px;
    /* espacio para el ícono */
    //padding-right: 35px;
    /* espacio para el ícono derecho */
    box-sizing: border-box;
    font-size: inherit;
}

/* Icono izquierdo */
.input-group .left-icon {
    position: absolute;
    left: 10px;
    filter: brightness(0) saturate(100%) invert(69%) sepia(71%) saturate(567%) hue-rotate(348deg) brightness(101%) contrast(97%);
}

/* Icono derecho */
.input-group .right-icon {
    position: absolute;
    right: 20px;
    filter: brightness(0) saturate(100%) invert(69%) sepia(71%) saturate(567%) hue-rotate(348deg) brightness(101%) contrast(97%);
    cursor: pointer;
}

.mensaje-error {
    color: #ffcccb;
    /* Color rojo claro para el texto de error */
    font-size: 0.8rem;
    margin-top: 0.1rem;
}