<!-- <app-header></app-header> -->
<app-navbar></app-navbar>

<div class="contenedor">
  <form [formGroup]="formLogin" class="formulario">
    <h2>Login</h2>
    <div class="item">
      <label>
        Nombre:
      </label>
      <div class="input-group">
        <i class="fas fa-user left-icon"></i>
        <input type="text" formControlName="email" placeholder="Ingrese su email">
      </div>
      <div *ngIf="formLogin.get('email')?.touched && formLogin.get('email')?.invalid" class="mensaje-error">
        <ng-container>
          <small *ngIf="formLogin.get('email')?.errors?.['required']">El email es obligatorio.</small>
          <small *ngIf="formLogin.get('email')?.errors?.['pattern']">El email debe ser valido.</small>
        </ng-container>
      </div>
    </div>

    <div class="item">
      <label>
        Contraseña:
      </label>
      <div class="input-group">
        <i class="fa-solid fa-lock left-icon"></i>
        <input [type]="verTexto? 'text' : 'password'" formControlName="contrasena" placeholder="Ingrese su contraseña">
        <i class="right-icon" [class]="verTexto? 'fas fa-eye-slash' : 'fas fa-eye' " (click)="verPassword()"></i>
      </div>
      <div *ngIf="formLogin.get('contrasena')?.touched && formLogin.get('contrasena')?.invalid" class="mensaje-error">
        <ng-container>
          <small *ngIf="formLogin.get('contrasena')?.errors?.['required']">La contraseña es obligatoria.</small>
        </ng-container>
      </div>
    </div>

    <button class="btn" type="submit" (click)="login()">Aceptar</button>
  </form>

</div>
<app-footer></app-footer>