* {
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI';
    background-color: #ffffff;
    font-size: 16px;
    margin: 0;
    padding: 0;
    height: 100%;
}

.container {
    width: 100%;
    margin: auto;
}

.container--flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.mensaje-error {
    color: #ff0400; /* Color rojo claro para el texto de error */
    font-size: inherit;
    margin-top: 0.1rem;
}

.img {
    text-align: center;
}

.img_logo {
    border-radius: 50%;
    border: 2px solid rgb(30, 39, 54);
    filter: brightness(0) saturate(100%) invert(69%) sepia(71%) saturate(567%) hue-rotate(348deg) brightness(101%) contrast(97%);   
    padding: 15px;
    width: 12vh;
    height: 12vh;
}

.btn, .btn-secondary{
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    font-size: inherit;
    width: 80%;
    border-radius: 25px;
    border: 1px solid #fea02c;
    text-transform: uppercase;
    font-weight: bold;
    padding: 0.5rem 1rem;
    margin: 0.5rem auto;
}

.btn{
    background: #fea02c;
    color: white;//rgba(30, 39, 54, 0.9);
}

.btn-secondary{
    border: 1px solid #fea02c;
    color: rgb(30, 39, 54);
}

/* @media screen and (min-width: 1500px) {
    body {
        font-size: 36px;
    }

} */