*{
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI';
    background-color: #f4f4f4;
    font-size: 0.875rem;
    margin: 0;
    padding: 0;
    height: 100%;
}

.container {
    width: 100%;
    margin: auto;
}

.container--flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}