.container--flex {
    width: 80%;
    text-align: left;
    margin: 1rem auto 1rem auto;
    padding: 0;
}
.cabecera{
    width: 100%;
}

.titulo {
    font-size: inherit;
    font-weight: bold;
    margin: 0.5rem auto;
    width: 100%;
    text-align: center;
}

.parrafo {
    line-height: 1.5;
    margin: 1rem 0;
    //padding: 0 6vw;
    font-size: inherit;
}

.contenedor {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.formulario {
    border: 1px solid #ccc;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: auto;
    max-width: 400px;
    margin: 0rem auto;
    box-sizing: border-box;
}

h2 {
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0.1rem;
    margin-bottom: 0.5rem;
    border-radius: 4px;
    text-align: center;
    color: #030303;
}

.item {
    padding: 1rem 0.5rem;
    width: auto;
    max-width: 95%;
}

.input-group {    
    position: relative;
    display: flex;
    align-items: center;
    padding: 0.5rem 0;
}

.input-group input, textarea {
    border: 2px solid #fea02c;
    width: 100%;
    padding: 0.5rem 35px;
    /* espacio para el ícono */
    //padding-right: 35px;
    /* espacio para el ícono derecho */
    box-sizing: border-box;
    font-size: inherit;
}

/* Icono izquierdo */
.input-group .left-icon {
    position: absolute;
    left: 10px;
    filter: brightness(0) saturate(100%) invert(69%) sepia(71%) saturate(567%) hue-rotate(348deg) brightness(101%) contrast(97%);
}

/* Icono derecho */
.input-group .right-icon {
    position: absolute;
    right: 10px;
    color: #666;
    cursor: pointer;
}

.selector {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.terminos {
    font-size: inherit;
    margin-top: 0.5rem;
    display: flex;
    flex-wrap: wrap;
}

a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.formulario {
    border: 2px solid #fea02c;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: auto;
    //max-width: 400px;
    margin: 0rem auto;
}

@media screen and (min-width: 800px) {
    .cabecera, .contenedor{
        width: 50%;
    }
}